body {
  background-color: black;
  min-height: 100vh;
  overflow-x: hidden;
}

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.card {
  margin-right: 10px;
}

#footer {
  background-color: #212529 !important;
}